#RetroTerminal {
    background-color: black;
    color: #00FF00;
    font-family: "Courier New", consolas;
    font-size: 15px;
    border-radius: 10px;
    selection-background-color: #005500;
    selection-color: white;
    qproperty-cursorWidth: 7;  /* Makes cursor thicker */
}
