#RetroTerminal {
    background-color: black;
    color: #00FF00;
    font-family: "Courier New", consolas;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    selection-background-color: #0000F0;
    selection-color: white;
    qproperty-cursorColor: #00FF00;  /* Makes cursor green */
    qproperty-cursorWidth: 7;  /* Makes cursor thicker */
}
